.userContainer {
  padding: 15px;
}

.previousPage {
}

.pageNumbersWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pageNumber {
  margin: 0 5px;
  cursor: pointer;
}

.pageNumber:hover {
  color: orange;
}

.currentPage {
  margin: 0 5px;
  font-weight: bold;
}

.userBlock {
  display: flex;
  margin-bottom: 15px;
}

.userPhotoWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
}

.userPhotoWrapper img {
  width: 100px;
  border-radius: 50px;
  margin-bottom: 15px;
}

.followButton {
  width: 80%;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 5px;
  font-weight: bolder;
}

.followButton:hover {
  background-color: aqua;
}

.userInfo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: 1px solid white;
  border-radius: 30px;
  padding: 15px;
}

.userName {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
